@font-face{
    font-family: intro;
    src:url(../../fonts/CameraObscuraDEMO.otf)
}

@font-face {
    font-family: magicRetro;
    src: url(../../fonts/MagicRetro.ttf);
}

@font-face {
    font-family: Midway;
    src: url(../../fonts/Midway.otf);
}

@font-face {
    font-family: RetroCool;
    src: url(../../fonts/RetroCool-Regular.ttf);
}

a {
    text-decoration: none;
    color: inherit;
}

.glow {
    transition: text-shadow 0.3s ease;
}

.glow:hover {
    box-shadow: 0 0 50px yellow; /* Add text glow effect on hover */
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
.grow:hover { 
transform: scale(1.01); 
}

.grow2 { 
    transition: all .2s ease-in-out; 
    }
    
.grow2:hover { 
transform: scale(2); 
}

body {
    margin: 0;
}

.container {
    background-image: url(../../assets/orange.jpeg);
    background-size:cover;
}

.navbar {
    font-family: Midway;
    font-size: 40px;
    color: orange;
    padding-left: 10px;
}

.articleContainer {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 15%;
    padding-top: 5%;
}

.article {
    background-color: wheat;
    border-radius: 20px;
    padding: 10%;
    border-style: solid;
    border-color: orangered;
    border-width: 4px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-indent: 10px;
    line-height: 22px;
    margin-bottom: 20px;
}

.articleTitle {
    font-family: retroCool;
    color: orangered;
    text-shadow: 4px 4px 4px orange;
    text-align: center;
    font-size: 40px;
}

.articleText {
    margin-top:-30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: black;
}

.big {
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

.imagebar {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
    background-color: wheat;
    border-style: solid;
    border-color: orange;
    padding-bottom: 50px;
    font-family: magicretro;
    font-size: 30px;
    color: orangered;
    padding-left: 5%;
    padding-right: 5%;
}

.imagespan {
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: -30px;
}

.image {
    padding-top: 20px;
    height: 120px;
    width:auto;
    display: flex;
    flex-direction: column;

}

.small {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
}

.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: wheat;
    border: 1px solid orangered;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    box-shadow: 4px 4px 10px orange;
    padding: 20px;
    z-index: 9999;
}

.custom-alert-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: intro;
    color: orangered;
}

#closeAlert {
    margin-top: 20px;
    text-align: center;
    background-color: orange;
    color: #ffffff;
    border-style: solid;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    width: 40px;
}

#closeAlert:hover {
    background-color: orangered;
}

#roomImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#roomImage img {
    border-style: solid;
    border-color: orangered;
    border-radius: 15px;
    height: 300px;
    max-width: 300px;
}

/* For mobile phones */
@media only screen and (max-width: 600px) {
    .navbar {
        font-size: 24px;
    }
    .articleContainer {
        padding: 5%;
    }
    .article {
        padding: 5%;
    }
    .articleTitle {
        font-size: 28px;
    }
    .articleText {
        font-size: 14px;
    }
    .big {
        font-size: 16px;
    }
    .imagebar {
        font-size: 20px;
    }
    .imagespan {
        padding-left: 10%;
        padding-right: 10%;
    }
    .image {
        height: 80px;
    }
    .small {
        font-size: 8px;
    }
}

/* For iPads */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .navbar {
        font-size: 32px;
    }
    .articleContainer {
        padding: 10%;
    }
    .article {
        padding: 10%;
    }
    .articleTitle {
        font-size: 36px;
    }
    .articleText {
        font-size: 16px;
    }
    .big {
        font-size: 20px;
    }
    .imagebar {
        font-size: 24px;
    }
    .imagespan {
        padding-left: 15%;
        padding-right: 15%;
    }
    .image {
        height: 100px;
    }
    .small {
        font-size: 10px;
    }
}

.boxcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 300px;
    width: auto;
}

.box2 {
    height: 150px;
    width: auto;
}

#protectionForm {
    text-indent: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    padding:5px;
    border-radius: 15px;
    background-color: orange;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#marginSelector {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.magicBtn {
    border-style: double;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    display: grid 2 2;
    border-color: orangered;
    background-color: orange;
    color: navy;
}
