@font-face{
    font-family: intro;
    src:url(fonts/CameraObscuraDEMO.otf)
}

@font-face {
    font-family: magicRetro;
    src: url(fonts/MagicRetro.ttf);
}

@font-face {
    font-family: Midway;
    src: url(fonts/Midway.otf);
}

a {
    text-decoration: none;
    color: inherit;
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
.grow:hover { 
transform: scale(1.02); 
}

body {
    background-image: url(assets//orange.jpeg);
    background-size: cover;
}

.navbar {
    padding-left: 20px;
    padding-top: 10px;
    font-family: Midway;
    font-size: 40px;
    color: orange;

}

.backIcon {
    height: 20px;
    width: 20px;
    padding-right: 5px;
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: auto auto; /* Two rows */
    gap: 30px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.articleContainer {
    text-align: center;
    font-style: italic;
    background-color: wheat;
    border-radius: 20px;
    padding: 30px;
}

.photo {
    height: 175px;
    width: 175px;
    border-style: solid;
    border-radius: 15%;
    padding: 2px;
}

.articleTitle {
    font-size: 30px;
    margin-bottom: -35px;
    font-family: magicRetro;
}

.articleSummary {
    font-family: intro;
    font-size: 15px;
}

/* For mobile phones */
@media only screen and (max-width: 600px) {
    body {
        background-size: inherit;
    }
    .navbar {
        font-size: 24px;
    }
    .backIcon {
        height: 14px;
        width: 14px;
    }
    .container {
        grid-template-columns: 1fr; /* Display articles in a single column */
        padding: 5%; /* Adjust padding for better spacing */
    }
    .articleContainer {
        padding: 20px;
    }
    .articleTitle {
        font-size: 24px;
    }
    .articleSummary {
        font-size: 14px;
    }
    .photo {
        height: 60px;
        width: auto;
        max-width: 60px;
    }
}

/* For iPads */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .navbar {
        font-size: 32px;
    }
    .backIcon {
        height: 16px;
        width: 16px;
    }
    .container {
        grid-template-columns: 1fr 1fr; /* Display articles in two columns */
        padding: 10%; /* Adjust padding for better spacing */
    }
    .articleContainer {
        padding: 30px;
    }
    .articleTitle {
        font-size: 28px;
    }
    .articleSummary {
        font-size: 16px;
    }
    .photo {
        height: 150px;
        width: 150px;
        max-width: 150px;
    }
}
